* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

:root {
	--base: #191724;
	--text: #e0def4;
	--surface: #26233a;
	--accent: #ebbcba;
	--radius: 1rem;
	--filter: invert(88%) sepia(14%) saturate(665%) hue-rotate(143deg) brightness(90%) contrast(86%);
}

html {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: var(--base);
	color: var(--text);
}

input[type='text'] {
	margin: 1rem 0;
	padding: 1rem;
	width: 30%;
	border-radius: var(--radius);
	background-color: var(--surface);
	border: none;
	outline: none;
	color: var(--text);
}

input[type='range'] {
	border-radius: var(--radius);
	-webkit-appearance: none;
	appearance: none;
	padding: 0.5rem 1rem;
	background: var(--surface);
	outline: none;
	opacity: 0.7;
	transition: opacity 0.2s;
}

input[type='range']:hover {
	opacity: 1;
	cursor: pointer;
}

input[type='range']::-webkit-slider-thumb,
input[type='range']::-moz-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	padding: 0.2rem;
	background: var(--accent);
	border-radius: calc(var(--radius) / 2);
}

/* Checkbox input */
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	font-size: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	height: 20px;
	width: 20px;
	background-color: var(--surface);
}

.container:hover input:not(:checked) ~ .checkmark {
	filter: brightness(1.2);
}

.container input:checked ~ .checkmark {
	background-color: var(--accent);
}

.checkmark:after {
	content: '';
	position: absolute;
	display: none;
}

.container input:checked ~ .checkmark:after {
	display: block;
}

.container .checkmark:after {
	left: 7px;
	top: 3px;
	width: 4px;
	height: 9px;
	border: solid var(--base);
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}

/* Select */
select {
	appearance: none;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: var(--radius);
	background-color: var(--surface);
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	color: var(--text);
	cursor: pointer;
}

select:hover {
	filter: brightness(1.2);
}
